SMTP_HOST=server_name
SMTP_VER_EMAIL=email@email.hu
SMTP_VER_EMAIL_PASSWORD=email_password
SMTP_SUP_EMAIL=email@email.hu
SMTP_SUP_EMAIL_PASSWORD=email_password
SMTP_PORT=port_number
RECAPTCHA_SITE_KEY=recaptcha_site_key_here
RECAPTCHA_SECRET_KEY=recaptcha_secret_key_here
TINIFY_API_KEY=tinify_api_key_here