/* ===============================
  VARIABLES & BASIC SETUP
================================*/
:root {
    --primary-color: #2d3357;
    --secondary-color: coral;
    --text-color: #333;
    --background-light: #eae3c9;
    --white: #fff;
    --primary-icon: #0d6efd;
    --success-icon: #198754;
    --info-icon: #0dcaf0;
    --warning-icon: #ffc107;
    --danger-badge: #dc3545;
}

body {
    font-family: 'Sans-Serif', sans-serif;
    margin: 0;
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    color: var(--primary-color);
}
h4{
  font-size: 1.25rem;
}

.text-center {
    text-align: center;
}

.section-padding {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-title {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.gap {
    height: 100px; /* Csökkentettem a méretet, ízlés szerint állítható */
    width: 100%;
}